body, html{
  box-sizing: border-box;
  height:100%;
  width:100%;
  overflow: hidden;
}
body{
  box-sizing: border-box;
  margin: 0px;
  background-color:#444;
  font-family: 'Notable', sans-serif;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  font-size: 25px;
  letter-spacing: 2px;
  background-color: #777;
  text-align: center;
}
.button{
  padding:5px 12px;
  float:right;
  letter-spacing: 1px;
  border: 3px solid lightblue;
}
.button:hover{
  color: white;
  background-color: lightblue;
}
.topbar{
  height:40px;
  background-color: #555;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky{
  border:10px solid blanchedalmond;
  border-radius:10px;
}
.dancer.kitty, .dancer.link {
  border: none;
  height: 60px;
}
.background{
  padding: 50px;
  text-align: center;
}
.background > img{
  width: 640px;
  display: none;
}
